.row.d-flex
  .col.s12.m4.m-auto
    .card.hoverable
      .card-content.black-text.center
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
          = devise_error_messages!
          %h3.primary-text.center Edit #{resource_name.to_s.humanize}
          %col.s12
            .input-field.col.s12
              = f.label :email
              = f.email_field :email, autofocus: true, autocomplete: "email"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .input-field.col.s12
              = f.label :password
              = f.password_field :password, autocomplete: "off"
            - if @minimum_password_length
              %em
                = @minimum_password_length
                characters minimum
            .input-field.col.s12
              = f.label :password_confirmation
              = f.password_field :password_confirmation, autocomplete: "off"
            .input-field.col.s12
              = f.label :current_password
              / %i (we need your current password to confirm your changes)
              / %br/
              = f.password_field :current_password, autocomplete: "off"
            .row  
              .actions.col.s12
                = f.button :submit,class: 'btn'
            .row
              .actions.col.s12
                #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn indigo darken-2'}
              .col.s12
                %span.text-muted Unhappy?
