= simple_form_for @startup do |f|
	= f.input :title, label: 'Your Startup Name please', error: 'Name is mandatory, please specify one',wrapper_html: {class: 'input-field'}
	= f.input :about,wrapper_html: {class: 'input-field'}
	= f.input :description, placeholder: 'Some description about yourself.',input_html: {class: 'materialize-textarea'},wrapper_html: {class: 'input-field'}
	= f.input :sustage_id,as: :select,collection: Sustage.all
	%div
		%label
			%input.filled-in{type: 'checkbox',id: 'user_remember_me',name: 'user[remember_me]'}
			%span Remember Me
	= f.button :submit,class: 'btn'