.container-fluid
	%section.primary-color.page-header.startup-profile-section

		%img.responsive-img.cover{:src => "http://via.placeholder.com/400x400/00ffff", :alt => "", style: "height: 100%;"}/
		%img.profile-pic{src: "http://via.placeholder.com/400x400"}
		.container
		%a.btn.btn-floating.btn-large.right.hide-on-small-only{:href => ""}
		%a.btn.btn-floating.btn-large.right.hide-on-small-only{:href => ""}
		%a.btn.btn-floating.btn-large.right.hide-on-small-only{:href => ""}

	%section.section
		.container
			.row
				.col.m4.l3.hide-on-small-only
					.card
						.card-content
							.row
								.col.s3.center
									%img.profile-thumb{src: "http://via.placeholder.com/32x32"}
								.col.s9
									.row
										.s12
											%p.medium-weight.medium
												= @startup.title
											%p.text-muted
												= @startup.about
							.divider.mb-1
							.row
								%span.text-muted
									= @startup.description
								%p
									- if @startup.tags.empty?
										No tags right now.
									- else
										= render :partial => "tags/show", :locals => {:tags =>  @startup.tags }
									- if current_user and @startup.founder_ids.include? current_user.id
										= render :partial => "tags/new", :locals => {:what => @startup }
				.col.s12.m8.l7
					-# = render "shared/post", post: @post
