.container-fluid
	%section.section.primary-color.page-header.startup-profile-section
		.container
			%img.responsive-img.cover{:src => "/assets/landscape/cover_missing.jpeg", :alt => "", style: "height: 100%;"}/
			%img.profile-pic{src: "/assets/logo_missing.png"}
		.container
			%a.modal-trigger.btn.btn-floating.right.hide-on-small-only.tooltipped{href: "#PitchPlease","data-tooltip": "view #{@startup.title}'s pitch decks","data-position":"top"}
				%i.material-icons pageview
			-#  Modal For Your Startups
			#PitchPlease.modal.black-text
				.page-header.secondary-color
					%p.bold-weight.white-text Your Pitch Decks
					= link_to new_presentation_path(startup_id: @startup.id),{class: 'btn btn-floating btn-large yellow darken-3 tooltipped right',"data-tooltip": "Add a Pitch Deck","data-position":"top"} do
						%i.material-icons add
				.modal-content
					.row{overflow: "scroll"}
						- @startup.presentations do |ppt|
							.col.s12.m6.l4
							.card
								.card-content
									%span.badge.new.green{'data-badge-caption': "Default"}
									%p.card-title.medium-weight.primary-text-color ppt
				.modal-footer
					%a.modal-action.modal-close.waves-effect.waves-red.btn-flat Close
			-#  Your Pitch Decks

	%section
		%section.white
			.container
				.row
					.col.s12.my-tabs
						%ul.tabs
							%li.tab.col.m3
							%li.tab.col.s6.m3
								%a.active{:href => "#about"} About
							%li.tab.col.s6.m3
								%a{:href => "#posts"} Posts
							%li.tab.col.m3
		.container
			#about.row
				.col.s12.m4
					.col.s12
						%h3= @startup.title
					.col.s12
						%h6= @startup.about
					.col.s12
						%h7.text-muted= @startup.description
				.col.s12.m8
					.col.s12
						%h5
							Co-Founders
					.col.s12						
						%ul.collection
							-  User.find(Foundership.where(startup_id: @startup.id).pluck(:user_id)).uniq.each do |fndr|
								%li.collection-item.avatar
									%img.circle{:alt => "", :src => fndr.avatar.url, :class => "responsive-img cofounder-img"}/
									%span.primary-text-color.bold-weight.medium.title= fndr.username
									%a.secondary-content{:href => "/users/#{fndr.id}"}
										View Profile >
				#posts.row
					.col.s12
						%p.flow-text All Feeds