.container-fluid
	%section.section.primary-color.page-header.startup-profile-section
		.container
			%img.responsive-img.cover{:src => "https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fpragativadi.com%2Fwp-content%2Fuploads%2F2017%2F03%2Fbuilding_startup-1.jpg&f=1", :alt => "", style: "height: 100%;"}/
			%img.profile-pic{src: "/assets/logo_missing.png"}
		.container
			- if current_user.isinvestor or Foundership.where(user_id: current_user.id).pluck(:startup_id).include? @startup.id
				%a.modal-trigger.btn.btn-floating.btn-large.hoverable.right.hide-on-small-only.tooltipped.waves-effect.waves-light{href: "#PitchPlease","data-tooltip": "View #{@startup.title}'s pitch decks","data-position":"top"}
					%i.material-icons pageview
			- else
				%a.modal-trigger.btn.btn-floating.btn-large.hoverable.right.hide-on-small-only.tooltipped.waves-effect.waves-light.invisibledj{href: "#"}
					%i.material-icons pageview


			-# Add co founder
			#addcf.modal
				.modal-content
					.row.valign-wrapper
						.col.s10.input-field
							%i.material-icons.prefix{style: "color:#f95051"} email
							%input#cfemail.validate.black-text{type: "email"}
							%label{for: "cfemail"} Email address
						.col.s2
							%button.btn{type: "submit"}
								Add



			-#  Modal For Your Startups
			#PitchPlease.modal.black-text
				.page-header.secondary-color
					%p.bold-weight.white-text Your Pitch Decks
					- if Foundership.where(user_id: current_user.id).pluck(:startup_id).include? @startup.id
						= link_to new_presentation_path(startup_id: @startup.id),{class: 'btn btn-floating btn-large yellow darken-3 tooltipped right',"data-tooltip": "Add a Pitch Deck","data-position":"top"} do
							%i.material-icons add
				.modal-content
					.row{overflow: "scroll"}
						- if current_user.isinvestor
							- Presentation.where(startup_id: @startup.id , publish:true).each do |ppt|
								.col.s12.m6.l4
									.card.default
										.card-content
											%span.badge.new.green{'data-badge-caption': "Default"}
											%p.card-title.medium-weight.primary-text-color= ppt.name
										.card-action
											=link_to "Edit",edit_presentation_path(ppt)
											=link_to "Show",presentation_path(ppt)
						- if not current_user.isinvestor
							- @startup.presentations.each do |ppt|
								.col.s12.m6.l4
									-if ppt.publish
										.card.default
											.card-content
												%span.badge.new.green{'data-badge-caption': "Default"}
												%p.card-title.medium-weight.primary-text-color
													= ppt.name
												%a{class: 'btn-floating hafway-fab-content waves-effect waves-light green', style: 'position: absolute; right: 20px;', onclick: 'publishThis(this)',"data-id": "#{ppt.id}"}
													%i.material-icons star_border
											.card-action
												=link_to "Edit",edit_presentation_path(ppt)
												=link_to "Show",presentation_path(ppt)
									-else
										.card
											.card-content
												%p.card-title.medium-weight.primary-text-color
													=ppt.name
												%a{class: 'btn-floating hafway-fab-content waves-effect waves-light green', style: 'position: absolute; right: 20px;', onclick: 'publishThis(this)',"data-id": "#{ppt.id}"}
													%i.material-icons star_border
											.card-action
												=link_to "Edit",edit_presentation_path(ppt)
												=link_to "Show",presentation_path(ppt)
								:javascript
									function publishThis(e){
										var $id = $(e).data('id')
										var url = '/startups/#{@startup.id}/presentations/#{ppt.id}'
										console.log(url)
										$.get('/startups/#{@startup.id}/presentations/#{ppt.id}',function(data){
										})
									}
				.modal-footer
					%a.modal-action.modal-close.waves-effect.waves-red.btn-flat Close
			-#  Your Pitch Decks

	%section
		%section.white
			.container
				.row
					.col.s12.my-tabs
						%ul.tabs
							%li.tab.col.m3
							%li.tab.col.s6.m3
								%a.active{:href => "#about"} About
							%li.tab.col.s6.m3
								%a{:href => "#posts"} Posts
							%li.tab.col.m3
		.container

			.row
				.col.s12.m4
					.col.s12
						%h3= @startup.title.split.map(&:capitalize)*' '
					.col.s12
						%h6= @startup.about
					.col.s12
						%h7.text-muted= @startup.description

				#about.col.s12.m8
					.col.s4
						%h5
							Co-Founders
					.col.s8
						%a.modal-trigger.btn.btn-floating.btn-large.hoverable.hide-on-small-only.tooltipped.waves-effect.waves-light.left{href: "#addcf","data-tooltip": "Add #{@startup.title}'s Co-Founders","data-position":"top"}
							%i.material-icons add

					.col.s12
						%ul.collection
							-  User.find(Foundership.where(startup_id: @startup.id).pluck(:user_id)).uniq.each do |fndr|
								%li.collection-item.avatar
									%img.circle{:alt => "", :src => fndr.avatar.url, :class => "responsive-img cofounder-img"}/
									%span.primary-text-color.bold-weight.medium.title= fndr.username.split.map(&:capitalize)*' '
									%a.secondary-content{:href => "/users/#{fndr.id}"}
										View Profile >
				#posts.col.s12.m8
					.row
						.col.s12
							= render "shared/create_post"
					.row
						.col.s12
							= render "shared/startup_posts"
