.container-fluid
	%section#user-container{style: ""}
		.cover-photo{style: "background-image: url('#{@user.covph.url(:landscape)}'); background-position: center; background-repeat: no-repeat; background-size: cover;"}
		= image_tag current_user.avatar.url, class: "user-profile-image"
		.user-details
			%span.bolder-weight.medium
				-if @user.isinvestor
					%span.new.badge.green{"data-badge-caption": "Investor"}
				-else
					%span.new.badge.primary-color{"data-badge-caption": "Founder"}
				= @user.username
			%span.normal= "Email : #{@user.email}"
			%span.normal.secondary-text-color
				%span.medium.bold-weight= Startup.find(@user.founderships.pluck(:startup_id)).count
				%span.white-text= " Startups"
			%span.normal.secondary-text-color
				%span.medium.bold-weight= Foundership.where(startup_id:Startup.find(@user.founderships.pluck(:startup_id))).pluck(:user_id).uniq.count
				%span.white-text= " Co-Founders"
	%section
		.row{style: "background: white;"}
			.container
				%ul.tabs
					%li.tab.col.s3
						%a.active{:href => "#test1"} Your Startups
					%li.tab.col.s3
						%a{:href => "#test2"} Posts
		
		.container
			.row
				#test1.col.s12.m10.l9
					= render "shared/user_startups"
				#test2.col.s12 Posts

%script
	$(document).ready(function(){
	$('.tabs').tabs();
	});
