.row.d-flex
  .col.s12.m4.m-auto
    .card.hoverable
      .card-content.black-text.center
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          %h3.primary-text.center Forgot password?
          %col.s12
            .input-field.col.s12
              = f.email_field :email, autofocus: true, autocomplete: "email"
              = f.label :email
            .row
              .actions.col.s12
                = f.submit "Reset",class:"btn"
            = render "devise/shared/links"