.card.hoverable
	.card-content
		= simple_form_for @post_new do |f|
			%h5 Create Post
			.row
				.col.s12
					= f.input :title, input_html: {"data-length": '30'},wrapper_html: {class: 'input-field'}
				.col.s12
					= f.input :description, input_html: {class: 'materialize-textarea', "data-length": '500'},wrapper_html: {class: 'input-field'}				
					= f.hidden_field :startup_id, value: @startup.id
					= f.hidden_field :user_id, value: current_user.id
			.card-action{style: "border-top: 0px;"}
				= f.submit "Create",class: 'btn'
