%nav
  .nav-wrapper
    - if user_signed_in?
      %a.sidemenu-trigger{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
    %a.brand-logo.hide-on-small-only.bold-weight{:href => '/'} Praya
    %ul.right
      = render 'shared/navbarLinks'
    - if user_signed_in?
      %ul#mobile-demo.side-nav
        .user-view
          .background
            %img{:src => "/assets/material_background.jpg"}/
          = link_to current_user do
            = image_tag current_user.avatar.url, style: "border: 1.5px solid white",class: "responsive-img circle"
          = link_to current_user do
            %span.white-text.name
              = current_user.username
          = link_to current_user do
            %span.white-text.email
              = current_user.email
        -if current_user.isinvestor
          %li
          -# TODO add bookmarks path
            = link_to "#" do
              %i.material-icons bookmark
              Bookmark
        -else
          %li
            = link_to new_startup_path do
              %i.material-icons add_circle
              Create a Startup
          %li
            .divider
          %li
            %ul.collapsible.collapsible-accordian#startup-collapsible
              %li.bold
                %a.collapsible-header
                  %i.material-icons business
                  Your Startups
                  %i.material-icons.right arrow_drop_down
                .collapsible-body.startup-link
                  %ul
                    - @mysu = Foundership.where(user_id: current_user.id).pluck(:startup_id)
                    - @mysu.each do |su|                    
                      %li
                        - if su
                          = link_to "/startups/#{su}" do
                            %img.profile-thumb{:src => "http://via.placeholder.com/32x32",class: 'responsive-img', style:'max-width: 2.75rem;', :alt => ""}/
                            = Startup.find(su).title
          %li
            .divider{style:"margin: 0px;"}
        %li
          =link_to presentations_path do
            %i.material-icons work
            Your Pitch Decks
        %li
          .divider
        %li
          = link_to '#' do
            %i.material-icons description
            Blog
        %li
          = link_to '#', class: "waves-effect" do
            %i.material-icons help
            Help
