%nav
  .nav-wrapper
    - if user_signed_in?
      %a.sidemenu-trigger{"data-activates" => "mobile-demo", :href => "#"}
        %i.material-icons menu
    %a.brand-logo.hide-on-small-only{:href => '/'} Logo
    %ul.right
      = render 'shared/navbarLinks'
    - if user_signed_in?
      %ul#mobile-demo.side-nav
        .user-view
          .background
            %img{:src => "/assets/material_background.jpg"}/
          = link_to current_user do
            %img.circle{:src => "http://via.placeholder.com/256x256"}/
          = link_to current_user do
            %span.white-text.name= current_user.username
          = link_to current_user do
            %span.white-text.email= current_user.email
        -if current_user.isinvestor
          %li
          -# TODO add bookmarks path
            = link_to "#" do
              %i.material-icons bookmark
              Bookmark
        -else
          %li
            = link_to new_startup_path do
              %i.material-icons add_circle
              Create a Startup
          %li
            .divider
          %li
            %ul.collapsible.collapsible-accordian#startup-collapsible
              %li.bold
                %a.collapsible-header
                  %i.material-icons business
                  Your Startups
                .collapsible-body.startup-link
                  %ul
                    %li
                      -# - @startups = current_user_startups
                      -@current_user_startups.each do |startup|
                        -# TODO
                        = link_to startup do
                          %img.profile-thumb{:src => "http://via.placeholder.com/32x32", :alt => ""}/
                          %span= startup.title
                      
          %li
            .divider
        %li
          = link_to '#' do
            %i.material-icons description
            Blog
        %li
          %a.waves-effect{:href => "#!"}
            %i.material-icons settings
            Settings
        %li
          %a.waves-effect{:href => "#!"}
            %i.material-icons help
            Help
