- if user_signed_in?
	%li
		%a#settings_dropdown_trigger.dropdown-trigger{href:"#", "data-activates": "settings_dropdown"}
			= image_tag current_user.avatar.url, style: "border: 1.5px solid white"
			&nbsp
			= current_user.username
			%i.material-icons arrow_drop_down
		%ul.dropdown-content#settings_dropdown{style: 'min-width: 12.5%;'}
			%li
				= link_to edit_user_registration_path do
					%i.material-icons settings
					Settings
			%li
				= link_to destroy_user_session_path,{method: :delete} do
					%i.material-icons power_settings_new
					Logout
- else
	%li
		= link_to "Sign up",new_user_registration_path
	%li
		= link_to "Sign In",new_user_session_path
