- Startup.find(@user.founderships.pluck(:startup_id)).each do |st|
  .card.card-horizontal.hoverable
    .card-header{style: "padding:24px"}
      .col.s2
        %img{:src => "http://via.placeholder.com/32x32"}/
      .col.s8
        .medium-weight.medium= st.title
      .col.s2.text-muted= st.about
    .card-stacked
      .row
        .col.s12
          .card-content
            .text-muted= st.description
      .divider.mb-1
      .card-content
        .row
          - User.find(Foundership.where(startup_id:Startup.find(@user.founderships.pluck(:startup_id))).pluck(:user_id).uniq).first(3).each do |fndr|
            .col.s4.hor-auto
              %a{href: "/users/#{fndr.id}"}
                = image_tag(fndr.avatar.url, :class => "responsive-img")
              %a.small.text-muted{href: "/users/#{fndr.id}"} #{fndr.username}
      .card-action
        %a{:href => "/startups/#{st.id}"} View More




