:css
	body{
		background: #f1f1f1;
	}
%section{style: "padding-top: 50px;"}
	.section
		.container
			.row
				.col.m4.l3.hide-on-small-only
					.card
						.card-content
							.row
								.col.s5.valign-wrapper
									%img.responsive-img.circle{src: "#{current_user.avatar.url}"}
								.col.s7
									.row
										.s12
											%p.medium-weight.medium= current_user.username.split.map(&:capitalize)*' '
										.s12
											= link_to "Your Profile",current_user,class: "secondary-text-color"
							.divider.mb-1
							- if not current_user.isinvestor
								.row
									%span.medium-weight.medium.secondary-text-color= Startup.find(current_user.founderships.pluck(:startup_id)).count
									%span Startups
								.row
									%span.medium-weight.medium.secondary-text-color= Foundership.where(startup_id:Startup.find(current_user.founderships.pluck(:startup_id))).pluck(:user_id).uniq.count - 1
									%span Co-Founders
									%br/

				.col.m5.l6
					= render @posts

				.col.m3.l3
					= render "shared/random"
