:css
	body{
		background: #f1f1f1;
	}

%section.primary-color.page-header
	.container.center
		%div.medium
			Welcome to
		%div.big
			%span.white-text
				Praya -
			Make your First Pitch Deck
		%div
			%a.white-text{:href => "/help",style: "margin: 20px;"}
				Learn More
		= link_to new_startup_path,{class: "btn btn-floating btn-large right tooltipped ml-1 green", "data-position": "top", "data-tooltip":"Add your Pitch Deck"}do
			%i.material-icons add
		= link_to new_startup_path,{class: "btn btn-floating btn-large right tooltipped ml-1", "data-position": "top", "data-tooltip":"Make your Startup"}do
			%i.material-icons business

%section{style: "padding-top: 50px;"}
	.section
		.container.post-container
			.row
				.col.m4.l3.hide-on-small-only
					.card
						.card-content
							.row
								.col.s3.center
									%img.profile-thumb{src: "http://via.placeholder.com/32x32"}
								.col.s9
									.row
										.s12
											%p.medium-weight.medium= current_user.username
										.s12
											= link_to "View Your Profile",current_user,class: "secondary-text-color"
							.divider.mb-1
							- if @startups
								.row
									%span.text-muted You are founder in
									%br/
									%span.medium-weight.medium= @startups.count
									%span startups
								.row
									%span.medium-weight.medium 0
									%span investors
									%br/
									%span.text-muted viewed your profile

				.col.s12.m8.l7
					= render @posts
