.row
  .col.s12.m4.offset-m4
    .card.grey.lighten-4
      .card-content.white-text
        %span.card-title Sign In
        / %p
        /   I am a very simple card. I am good at containing small bits of information.
        /   I am convenient because I require little markup to use effectively.
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email"
          .field
            = f.label :password
            %br/
            = f.password_field :password, autocomplete: "off"
          - if devise_mapping.rememberable?
            .field
            = f.check_box :remember_me
            = f.label :remember_me
          .card-action.actions
            = f.submit "Log in"
      = render "devise/shared/links"


      /   %a{href: "#"} This is a link
      /   %a{href: "#"} This is a link




/ %h2 Log in
/ = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true, autocomplete: "email"
/   .field
/     = f.label :password
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   - if devise_mapping.rememberable?
/     .field
/       = f.check_box :remember_me
/       = f.label :remember_me
/   .actions
/     = f.submit "Log in"
/ = render "devise/shared/links"
