/ .row
/   .col.s12.m4.offset-m4
/     .card.grey.lighten-4
/       .card-content.white-text
/         %span.card-title Sign In
/         / %p
/         /   I am a very simple card. I am good at containing small bits of information.
/         /   I am convenient because I require little markup to use effectively.
/         = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/           .field
/             = f.label :email
/             %br/
/             = f.email_field :email, autofocus: true, autocomplete: "email"
/           .field
/             = f.label :password
/             %br/
/             = f.password_field :password, autocomplete: "off"
/           - if devise_mapping.rememberable?
/             .field
/             = f.check_box :remember_me
/             = f.label :remember_me
/           .card-action.actions
/             = f.submit "Log in"
/       = render "devise/shared/links"

.row.strech.d-flex
  .col.l4.m6.s11.m-auto
    .card.mb-none
      .card-content.center
        %h2.primary-text Log in
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .row
            .input-field.col.s12
              = f.email_field :email, autofocus: true, autocomplete: "email"
              = f.label :email
            .input-field.col.s12
              = f.password_field :password, autocomplete: "off"
              = f.label :password
            - if devise_mapping.rememberable?
              .form-group.col.s12
              / = f.check_box :remember_me
              / = f.label :remember_me
          .actions
            = f.submit "Log in",class: 'col s12 btn'
          = render "devise/shared/links"