-if @posts
	-@posts.each do |post|
		.card.post
			.card-header.post-header
				%img.profile-thumb{:src => "http://via.placeholder.com/32x32", :alt => ""}/
				= link_to "#{post.startup.title}",post.startup,class: 'post-by'
				= link_to "@#{post.user.username}",post.user,class: "text-muted normal"
			.card-image.post-image
				%img{:src => "http://via.placeholder.com/400x400/FF5252/FFFFFF"}/
				%span.card-title= post.title
				-# TODO Link it to post path
				-if current_user = post.user
					=link_to edit_post_path(post),{class: "btn btn-floating halfway-fab amber tooltipped","data-position": "top", "data-tooltip": "Edit this post"} do
						%i.material-icons create
			.card-content
				%p.post-text= post.description
				%span.post-timestamp 13 hours ago
			.card-action.post-footer
				%span
					%i.material-icons arrow_upward
					Upvote
				%span
					%i.material-icons phone
					Contact Startup
-else
	%span.text-muted
		Sorry No New Posts to show
