.card.post
	.card-header.post-header
		%img.profile-thumb{:src => "#{post.user.avatar.url}", :alt => ""}/
		= link_to "#{post.startup.title}",post.startup,class: 'post-by'
		= link_to "by @#{post.user.username}",post.user,class: "text-muted normal"
	.card-content
		.card-title= post.title
		%p.post-text= post.description
		%span.post-timestamp 13 hours ago
	.card-action
		.row.footer-pad
			.col.s6.valign-wrapper
				%i.material-icons arrow_upward
				&nbsp; Upvote
			.col.s6.valign-wrapper
				%i.material-icons phone
				&nbsp; Contact Startup
