!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Praya
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "shared/navbar"
    - if notice
      :javascript
        Materialize.toast('#{notice}', 4000)
    - if alert
      :javascript
        Materialize.toast('#{alert}', 4000)

    = yield
